.github
.idea
.run
dist
sync-in-server*
backend/logs
backend/node_modules
frontend/node_modules
frontend/.angular
node_modules
environment/environment.yaml
.dockerignore
Dockerfile
.gitignore
.git
.prettierrc
**/*.spec.ts
**/*.e2e-spec.ts