node_modules
logs
.run
dist
.idea
.DS_Store
backend/coverage
backend/logs
environment/environment.yaml
frontend/static
frontend/.angular/
frontend/tmp
frontend/out-tsc
frontend/bazel-out
/frontend/src/assets/pdfjs/
/frontend/src/assets/codemirror/
circular-dependencies.png
